.btn {
    padding: 10px 25px;
    background: $color-white;
    border: none;
    border-radius: 20px;
    color: $color-primary;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: $transition-primary;

    &:focus {
        outline: 0;
    }

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        opacity: 0.7;
        //pointer-events: none;
        cursor: not-allowed;
    }

    &.btn-primary {
        background: $color-accent;

        &:hover {
            background: $color-primary;
            color: $color-white;
        }

        &:disabled {
            &:hover {
                background: $color-accent;
                color: $color-primary;
            }
        }
    }

    &.btn-secondary {
        background: $color-secondary;
        color: $color-white;

        &:hover {
            background: $color-primary;
            color: $color-white;
        }

        &:disabled {
            &:hover {
                background: $color-secondary;
                color: $color-white;
            }
        }
    }

    &.btn-small {
        padding: 8px 16px;
        font-size: 14px;
    }

}

.btn-icon {
    padding: 5px;
    background: transparent;
    border: 0;
    color: $color-primary;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: $transition-primary;

    &:focus {
        outline: 0;
    }

    &:hover {
        color: $color-red;
    }

    &:active {
        color: $color-primary;
    }

    > img {
        width: 40px;
        height: 40px;
    }
}