.btn {
  height: 40px;
  padding: 0 25px;
  background: $color-white;
  border: none;
  border-radius: 21px;
  font-family: inherit;
  color: $color-primary;
  font-size: $font-size-xxs;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  transition: $transition-primary;

  &:focus {
    outline: 0;
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.7;
    //pointer-events: none;
    cursor: not-allowed;
  }

  &.btn--primary {
    background: $color-accent;

    &:hover {
      background: $color-primary;
      color: $color-white;
    }

    &:disabled {
      &:hover {
        background: $color-accent;
        color: $color-primary;
      }
    }
  }

  &.btn--secondary {
    background: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background: $color-primary;
      color: $color-white;
    }

    &:disabled,
    &:disabled:hover {
        background: $color-white;
        color: $color-primary;
    }
  }

  &.btn--small {
    padding: 0 16px;
    font-size: $font-size-xxxs;
  }

  &.btn--large {
    padding: 0 60px;
    font-size: $font-size-xs;

    &:disabled,
    &:disabled:hover {
      background: $color-white;
    }
  }
 
  &.btn--extra-large {
    height: 50px;
    padding: 0 60px;
    font-size: $font-size-xs;
    border-radius: 30px;
  }
}

.btn-icon {
  padding: 5px;
  background: transparent;
  border: 0;
  color: $color-primary;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: $transition-primary;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $color-red;
  }

  &:active {
    color: $color-primary;
  }

  > img {
      display: block;
      width: 28px;
      height: 28px;
  }
}
