.app-input-wrapper {
  display: flex;
  //justify-content: space-between;
  align-items: center;

  + .app-input-wrapper {
    margin-top: 10px;
  }

  .btn-icon {
    align-self: flex-end;
  }
}

.app-input {
  width: calc(50% - 30px);
  margin-right: 20px;
  padding: 10px 5px;
  font-family: inherit;
  font-size: 18px;
  color: $color-primary;
  border: none;
  border-bottom: 2px solid $color-accent;
  border-image: linear-gradient(45deg, $color-light-green, $color-light-blue) 1;
  transition: $transition-primary;

  &::placeholder {
    opacity: 0.8;
  }

  &:disabled {
    border-color: $color-primary;
    background: transparent;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
  }
}
