.team-container {
    
    .body-container {
        > .title {
            margin: 30px 0 0;
        }

        > .sub-titles,
        > .words {
            display: flex;
            margin-top: 20px;

            > .section-title,
            > .word-input {
                flex: 1;

                &:first-child {
                    margin-right: 20px;
                }
            }

            > .section-title {
                margin-bottom: 0;

                &:last-child {
                    margin-right: 30px;
                }
            }

            > .btn-icon {
                margin-left: 10px;
            }

            + .words {
                margin-top: 10px;
            }
        }
    }
}
