.game-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  height: 350px;
  margin: auto;
  padding: 20px 0;

  .figure-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;

    .figure {
      fill: transparent;
      stroke: #fff;
      stroke-width: 4px;
      stroke-linecap: round;

      .figure-part {
        opacity: .1;
        //display: none;

        &.is-visible {
          opacity: 1;
        }
      }
    }
  }

  .status-container {
  }
}

.game-word-container {
  text-align: center;

  .wrong-letters-container {
    span {
      font-size: 24px;
    }
  }

  .correct-word-container {
    .word {  
      .letter {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 50px;
        border-bottom: 3px solid $color-white;
        margin: 0 3px;
        font-size: 30px;
      }
    }
  }
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);

  &.show {
    display: flex;
  }

  .popup {
    padding: 20px;
    background: #2980b9;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    text-align: center;

    button {
      margin-top: 20px;
      padding: 0 20px;
      background-color: #fff;
      border: 0;
      color: #2980b9;
      font-size: 16px;
      cursor: pointer;

      &:active {
        transform: scale(0.98);
      }

      &:focus {
        outline: 0;
      }
    }
  }
}

.game-not-ready-container {
  margin-top: 50px;
  text-align: center;
}

.notification-container {
  position: fixed;
  left: 50%;
  bottom: -50px;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  transform: translate(-50%, 0);
  transition: transform 0.3s ease-in-out;

  &.show {
    transform: translate(-50%, -50px);
  }

  p {
    margin: 0;
  }
}

