.settings {
    padding-bottom: 40px;
}

.teams-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 20px;

    @media (min-width: $isDesktopSmall) {
        grid-template-columns: repeat(2, 1fr);
    }

    .wrapper-empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;

        > img {
            opacity: .9;
        }
    }
}