* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: $color-secondary-light;
  background: linear-gradient(270deg, $color-gradient-1, $color-gradient-2);
  background-size: 400% 400%;
  color: #fff;
  line-height: 1.4;
  animation: main-bkg 30s ease infinite;
}

.app {
  width: 80%;
  max-width: 1024px;
  min-height: 100vh;
  padding-bottom: 60px;
}

.app-header {
  text-align: center;
}

.settings-container .page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-container {
  padding: 40px;
  background: $color-white;
  color: $color-primary;
  border-radius: 5px;
  box-shadow: $shadow-primary;

  + .section-container {
    margin-top: 40px;
  }
}

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;

  > img {
    opacity: 0.9;
  }
}

.section-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  height: 38px;
  margin-top: 20px;
}

.error-message {
  color: $color-red;
}
