html {
    font-size: 62.5%;
}

.app-title {
    margin-top: 0;
    font-family: $font-family-title;
    letter-spacing: 2px;
    word-spacing: 1px;
    
    &--xl {
        margin-bottom: $spacing-l;
        font-size: $font-size-xl;
        text-shadow: 2px 4px black;
    }

    &--l {
        margin-bottom: $spacing-m;
        font-size: $font-size-l;
        text-shadow: 2px 2px black;
    }

    &--m {
        margin-bottom: $spacing-m;
        font-size: $font-size-m;
        text-shadow: 2px 3px black;
    }
    
    &--s {
        margin-bottom: $spacing-m;
        font-size: $font-size-s;
        text-shadow: 2px 2px black;
    }
  
    &--xs {
        margin-bottom: $spacing-s;
        font-size: $font-size-xs;
        text-shadow: 2px 2px black;
    }
}

.section-title {
    margin: 0;

    &--s {
        font-size: $font-size-s;
    }

    &--xs {
        font-size: $font-size-xs;
    }
   
    &--xxs {
        font-size: $font-size-xxs;
    }
}

.app-text {
    margin: 0;
    font-family: $font-family-primary;

    &--l {
        font-size: $font-size-l;
    }

    &--m {
        font-size: $font-size-m;
    }

    &--s {
        font-size: $font-size-s;
    }

    &--xs {
        font-size: $font-size-xs;
    }

    &--xxs {
        font-size: $font-size-xxs;
    }
}

.text-color-accent {
    color: $color-accent;
}

.text-color-orange {
    color: $color-orange;
}