// Breakpoints
$isDesktopSmall: "1024px";

// Colors
$color-primary: #292929;
$color-secondary: #34495e;
$color-secondary-light: lighten( $color-secondary, 15% );
$color-accent: #c9e42f;
$color-red: #c91212;
$color-orange: #ffbe00;
$color-white: #fff;
$color-light-green: #80b2a5;
$color-light-blue: #4d8dc1;
$color-gradient-1: $color-light-green;
$color-gradient-2: $color-light-blue;

// Spacing
$spacing-l: 3rem;
$spacing-m: 2rem;
$spacing-s: 1rem;
$spacing-0: 0;

/* Fonts */
$font-family-primary: 'Lato', sans-serif;
$font-family-title: 'Fredoka One', cursive;

$font-size-xxl: 8.9rem;
$font-size-xl: 6.7rem;
$font-size-l: 5rem;
$font-size-m: 3.7rem;
$font-size-s: 2.8rem;
$font-size-xs: 2.1rem;
$font-size-xxs: 1.6rem;
$font-size-xxxs: 1.4rem;

// Shadows
$shadow-primary: 0 2px 8px 3px rgba(0, 0, 0, 0.09);
$shadow-secondary: 0 2px 8px 3px rgba(52, 73, 94, 0.1);

// Transitions
$transition-primary: all 180ms ease;