// Breakpoints
$isDesktopSmall: "1024px";

// Colors
$color-primary: #292929;
$color-secondary: #34495e;
$color-accent: #c9e42f;
$color-red: #c91212;
$color-white: #fff;

/* Fonts */
$font-primary: "Roboto", sans-serif;

// Shadows
$shadow-primary: 0 2px 8px 3px rgba(0, 0, 0, 0.09);

// Transitions
$transition-primary: all 180ms ease;